<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL MAP Config 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="callSettersOnNulls" value="true"/>
        <!--加该配置，本地调试就可以查看mybatis-log日志 -->
        <setting name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl" />
    </settings>
</configuration>